.app-auth {
    max-width: 900px;
    max-height: 500px;
    margin: 0 auto;
    //padding: 32px;
    display: flex;
    justify-content: space-evenly;
    //width: 100%;
        &_left{
            background: url('../../assets/images/vote_3-removebg.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 50%;
            
        }

        &_right{
            background: rgba(129, 129, 129, 0.46);            
            width: 50%;
            padding: 40px;
        }        
}

.app-page {
    max-width: 900px;
    margin: 16px auto;
    background: $base-light;
    border: 1px solid $base-dark;
    border-radius: 8px;
    padding: 32px;

    position: relative;

    &__header {
        margin-bottom: 32px;
        text-align: center;
    }

    &__sidenav{
        width: 15%;     
        border-right: 1px solid $base-light;
        background-color: $base-light; 
        padding: 10px;
    }

    &__center{
        border-radius: 8px;
        width: 85%;
        overflow-y: auto !important;
        height: 100vh !important;
    }

    &__content {

    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        margin-top: 32px;        
    }
}

.app-default {
    //height: 100%;
    overflow-y: hidden;
    margin: 0;

    &__header{
        margin: 0;
        padding: 0;
    }

    &__content{
        margin: 0;
        padding: 0;
    }

    &__footer{    
        width: 100% !important;
        max-width: 100% !important;
        text-align: center;      
          
    }
}