<div class="sidenav">            
    <div class="app-page__left_sidenav-same demography" [routerLink]="['demography']" routerLinkActive="app-a_active">Demography</div>
    <div class="app-page__left_sidenav-same features">Features</div>
    <div class="app-page__left_sidenav-same report">Voting Report</div>
    <div class="app-page__left_sidenav-same result" routerLink="results" routerLinkActive="app-a_active">Result</div>
    <div class="app-page__left_sidenav-same settings" [routerLink]="['settings']" routerLinkActive="app-a_active">Settings</div>
    
</div> 