<div class="app-page" *ngIf="!user.isVoted && (voteDate.duration.to | date: 'fullDate') === (currentDate | date: 'fullDate')">
    
    <ng-container>
        <form [formGroup]="form" novalidate autocomplete="off" (ngSubmit)="onSubmit()">
            <app-form-field label="Candidates" [required]="true" [control]="form.controls.id">
                <app-radios formControlName="id" [controlItemInterface]="elections?.result.controlItemsInterface" ></app-radios>
            </app-form-field>
    
            <div class="form__actions">
                <app-button type="submit">Vote</app-button>
            </div>
        </form>
    </ng-container>
</div>

<div class="app-page" *ngIf="user.isVoted">
    <h1>Thank you for your vote!</h1>
    <p>Having a fair vote is the goal</p>
    <p>Please go ahead to monitor your candidate</p>
</div>

<!--<code>
    {{form.value | json}}
    
</code>-->