<div class="app-page">
    <div class="app-page__header">
        <h1>{{title}}</h1>
    </div>
    <div class="app-page__content">
        <app-stepper *ngIf="dictionariesIsReady$ | async"> 
            <ng-container [ngSwitch]="stepperService?.activeStep?.key">
                <app-personal *ngSwitchCase="'personal'" [dictionaries]="dictionaries$ | async" (changed)="onChangedPersonal($event)" [value]="personal$  | async">Personal</app-personal>
                <app-personal2 *ngSwitchCase="'personal2'" [dictionaries]="dictionaries$ | async" (changed)="onChangedPersonal2($event)" [value]="personal2$ | async">Other Details</app-personal2>
            </ng-container>
        </app-stepper>
    </div>

    <app-spinner *ngIf="loading$ | async"></app-spinner>
</div>