@import "src/styles/color";


.wrapper{
    display: flex;
    flex-direction: row;

    &__image{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    /*&__user{

    }*/
}

@media screen and (max-width: 540px) {
    .app-page {

        &__content{
            font-size: 12px;
        }
    }
}
