<div class="app-page" *ngIf="user$ | async as user">
    <div class="app-page__image">
        <div class="app-page__image_img">
            <app-user-photo [photoURL]="user.photoURL"></app-user-photo>
        </div>
        <div class="app-page__image_text">
            <p class="app-page__image_text_name">{{user.name}}</p>
            <p class="text-same">{{user.email}}</p>
        </div>
    </div>
    <div class="app-page__content">        
        <p class="text-same">Country: <span>{{user.country}}</span></p>
        <p class="text-same">About: <span>{{user.about}}</span></p>
        <p class="text-same">Nin: <span>{{user.nin}}</span></p>

        <ng-container [ngSwitch]="user.roleId">
            <app-super class="text-same" *ngSwitchCase="'superAdmin'" [role]="user.role" hidden></app-super>
            <app-admin class="text-same" *ngSwitchCase="'admin'" [role]="user.role" hidden></app-admin>
            <app-voter class="text-same" *ngSwitchCase="'voter'" [role]="user.role"></app-voter>
        </ng-container>

    </div>

    <div class="app-page__footer" *ngIf="isOwnProfile$ | async">
        <a class="app-button" routerLink="/dashboard/profile/edit">Edit</a>
    </div>
</div>


