<div class="app-page">
    <form [formGroup]="form" novalidate autocomplete="off" (ngSubmit)="onSubmit()">
        <app-form-field label="Candidate Name" [required]="true" [control]="form.controls.name">
            <app-input formControlName="name"></app-input>
        </app-form-field>

        <app-form-field label="Election Type" [required]="true" [control]="form.controls.electionType">
            <app-select formControlName="electionType" [controlItemInterface]="election?.election.controlItemsInterface"></app-select>
        </app-form-field>

        <app-form-field label="Local Government" [required]="true" [control]="form.controls.localGovernment">
            <app-select formControlName="localGovernment" [controlItemInterface]="election?.localgovernment.controlItemsInterface"></app-select>
        </app-form-field>

        <app-form-field label="Party" [required]="true" [control]="form.controls.party">
            <app-select formControlName="party" [controlItemInterface]="election?.parties.controlItemsInterface"></app-select>
        </app-form-field>

        <app-form-field label="State" [required]="true" [control]="form.controls.state">
            <app-select formControlName="state" [controlItemInterface]="election?.state.controlItemsInterface"></app-select>
        </app-form-field>

        <app-form-field label="Position" [required]="true" [control]="form.controls.position">
            <app-input formControlName="position" ></app-input>
        </app-form-field>


        <div class="form__actions">
            <app-button type="submit">Save</app-button>
        </div>
    </form>
</div>