@media screen and (max-width: 540px) {
    .app-button{
        text-align: center;
        width: 15vw;
        height: 4vh;
        font-size: 12px;
        font-weight: 500;
        padding: 5px;
    }    
}