<div class="table">
    <div *ngFor="let item of dataSource">
        <mat-table [dataSource]="item" matSort>
            <ng-container matColumnDef="#">
                <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                <mat-cell *matCellDef="let element; let i = index" data-label="#">{{i+1}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Candidates">
                <mat-header-cell *matHeaderCellDef>Candidates</mat-header-cell>
                <mat-cell *matCelDef="let element">{{element.name}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="VoteCount">
                <mat-header-cell *matHeaderCellDef>Vote Count</mat-header-cell>
                <mat-cell *mat-cell="let element">{{element.count}}</mat-cell>
            </ng-container>
        </mat-table>
    </div>
</div>