


@media screen and (max-width: 375px) {

    .mat-header-cell, .mat-cell{
        padding: 10px;
        font-size: 7px;        
    }
}

@media screen and (min-width: 375px) and (max-width: 540px) {

    .mat-header-cell, .mat-cell{
        padding: 12px;
        font-size: 10px;
    }
}