@import "src/styles/mixins";

.candidate{
    @include card;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 540px) {
    .candidate{
        padding: 5px;
    }
}