@import "src/styles/color";

.app-land{
    
    &__header{   
        
        img{
            position: absolute;
            right: 0;
            bottom: 8px;
            width: 300px;
            height: 300px;
        }
        
        &_imgs{        
           background-color: red;
            width: 400px;
            height: 600px;            
        }

        &_banner{
            width: 100%;
            height: 50px;
            background-color: #462B56;
            color: white;
            position: absolute;
            text-align: center;
            margin: 0;
            bottom: 0;
            padding: 10px;
            border: none;
            border-radius: 5px;
        }
    }
}

.main{
    max-width: 100vw;
    height: 50vh;
    text-align: center;
    padding-top: 10px;

    h1 {
        font-size: 50px;
        font-weight: 500;
        color: #462B56;        
    }

    p{
        font-size: 30px;
        font-family: Roboto;
        font-weight: 200;
        line-height: 5px;
    }

    &_cont{
        display: flex;
        justify-content: space-evenly;

        &_one{
            background-color: #EB47F9;
        }
        &_two{
            background-color: #B13FF4;
        }
        &_three{
            background-color: #F43F4A;
        }

        &_same{
            width: 200px;
            height: 150px;
            border: none;
            border-radius: 20px;
            text-align: center;
            padding: 10px;
            color: white;

            span{
                font-weight: 400;
                font-family: Roboto;
                font-size: 50px;
            }
        }
    }
}

.getStarted{
    margin-top: 10px;    
    height: 100px;

    button{
        width: 100px;
        height: 50px;
        margin-top: 20px;
        border-radius: 5px;
        background-color: #FFCE14;
        color: white;
    }
}



@media screen and (max-width: 615px) {
    .app-land{
        margin: 0;
        padding: 0;

        h1, p{
            font-size: 12px;
        }

        &__header{
            margin: 0;
            
            img{
                width: 200px;
                height: 200px;
            }
    
            &_banner{
                height: 20px;
                bottom: 0;
                margin: 0;
                padding: 5px;
                font-size: 10px;
                border-radius: 2px;
            }
        }
    }

    .main{
        text-align: center;
    
        h1 {
            font-size: 40px;
            font-weight: 400;      
        }
    
        p{
            font-size: 20px;
            line-height: 5px;
        }

        &_cont{
    
            &_same{
                width: 80px;
                height: 100px;
                border: none;
                border-radius: 10px;
                text-align: center;
                padding: 10px;
                color: white;
    
                span{
                    font-weight: 400;
                    font-family: Roboto;
                    font-size: 30px;
                }
            }
        }
    }
}