
.app-page {
    width: 30%;
    height: 70vh;
    background: #E5E5E5;
    opacity: 0.92;  
}

@media screen and (max-width: 540px) {
    .app-page{
        width: 80vw;
        margin: 30px;
        height: 80vh;
    }
}

@media screen and (min-width: 720px) and (max-width: 912px) {
    .app-page{       
        width: 50vw;
        height: 50vh;
    }
}