@import "src/styles/color";

.app-page {
    margin: 0;
    padding: 0;
    max-width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
    display: flex;
    flex-flow: row wrap;
    background: $base-dark; 
    
    &__sidenav{     
        background-color: $primary-dark;
        color: $base-light;

        &_sidenav{       
            display: flex;
            flex-flow: column wrap; 
            height: 100% !important;                        
        }
    }

    &__center{       

        &-top{
            border-radius: 8px;
            padding: 10px;
        }

        &-bottom{
            border: 1px solid $base-light;
            border-radius: 8px;
            padding: 10px;
            margin-bottom: 10px;
        }
    }

}

@media screen and (max-width: 540px) {
    .app-page{

        &__sidenav{
            width: 20%;

            &_sidenav{
                font-size: 10px;
            }
        }

        &__center{
            width: 70%;
        }
    }
}