@import "src/styles/color";

.app-page {
    width: 30%;
    height: 70vh;
    background: #E5E5E5 ;
    opacity: 0.92;  
    

    &__footer {
        position: relative;
        top: -30px;
        margin-top: 0;
    }
}

.error {
    opacity: 0;
    font-size: 12px;
    color: $error;
    padding: 4px 0 16px 0;

    &_active {
        opacity: 1;
    }
}

@media screen and (max-width: 540px) {
    .app-page{

        width: 80vw;
        margin: 30px;
        height: 80vh;
    }
}

@media screen and (min-width: 720px) and (max-width: 912px) {
    .app-page{       
        width: 50%;
        height: 50vh;
    }
}