<div class="wrapper" >
    <div class="wrapper__president wrapper__same" *ngFor="let elect of election?.result.itemInterfaces">
        <div>
            <p style="font-size: 15px; font-weight: bold; color: red;">{{elect.positions}}</p>
            <p>Party: <span>{{elect.party}}</span></p>
            <p>Candidate: <span>{{elect.name }}</span> </p>
            <p>Date: <span>{{elect.duration.from | date:'fullDate'}}</span> </p>
        </div>
        <div>
            <p style="color: rgb(167, 188, 250);">Ongoing</p>
        </div>
    </div>    
</div>

<div class="app-page">
    ...Loading
</div>