@import "src/styles/mixins";

.wrapper{
    display: grid;
    //justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    
    
    &__same{
        display: flex;
        justify-content: space-between;
        color: white;
        background-image: url("../../../../../assets/images/election2.jpg") !important;
        background-repeat: no-repeat !important;
        background-size: cover !important; 
        //backgroud

        @include card;
        margin: 20px;
        padding: 10px;       
        line-height: 2vh;  
                
        span{
            color: green;
            font-size: 13px;
            font-weight: bold;
        }
    }
}

@media screen and (max-width: 374px) {
    .wrapper{
        display: flex;
        flex-direction: column;
        align-self: center;
        
        &__same{
            width: 100%;
            height: 150px;
            margin: 10px 1px 0 0;
            font-size: 11px !important;
        }
    }

    .app-page{
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 375px) and (max-width: 540px) {
    .wrapper{
        display: flex;
        flex-direction: column;
        
        &__same{
            width: 100%;
            height: 150px;
            margin: 12px 1px 0 0;
            font-size: 12px;

        }
    }

    .app-page{
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 720px) and (max-width: 912px) {
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        &__same{
            width: 100%;
            height: 150px;
            margin-left: 3px;
            line-height: 1vh;

        }
    }

    
}