<form [formGroup]="form" novalidate autocomplete="off" class="personal">
    <app-form-field label="Select Role" [required]="true" [control]="form.controls.roleId" >
        <app-radios formControlName="roleId"  [controlItemInterface]="dictionaries.roles.controlItemsInterface"></app-radios>
    </app-form-field>

    <ng-container [ngSwitch]="form.controls.roleId.value">
        <app-voter *ngSwitchCase="'voter'" [parent]="form" name="role" [value]="value?.role" [dictionaries]="dictionaries"></app-voter>
        <app-admin *ngSwitchCase="'admin'" [parent]="form" name="role" [value]="value?.role" [dictionaries]="dictionaries"></app-admin>
        <app-super-admin *ngSwitchCase="'superAdmin'" [parent]="form" name="role" [value]="value?.role" [dictionaries]="dictionaries"></app-super-admin>
        
    </ng-container>
    
    


</form>
